# Dependencies
node_modules
.pnp
.pnp.js

# Production & Build outputs
dist
build
out

# Environment variables & local configs
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor & OS files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?